body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #262626;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #333333;
    color: #ffffff;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: none;
    background-color: #4d4d4d;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #666666;
}
button:active {
    background-color: #808080;
}
.operator-btn {
    background-color: #ff9500;
}
.operator-btn:hover {
    background-color: #ffa733;
}
.operator-btn:active {
    background-color: #ffb366;
}